body {
    text-align: center;
}
.announcement {
    background-color:firebrick;
    width: 100%;
    height: 30px;
}

#marqueeStyle {
    width: 100%;
    direction: right;
    height: 100px;
    color: beige;
    font-size: 120%;
}

#welcome {
    color: #FFFFFF;
    bottom: 0;
    background: linear-gradient(#60ebeb 0%, #27ae60 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

#welcome h4{
    color:#65026e;
}
#welcome h3{
    color:darkblue;
}
#welcome h2{
    color:#ad0e16;
}

#contact iframe {
    width: 100%;
}

#contact{
    background-color: crimson;
}

.contact_1 a {
    text-shadow: none;
    background-color: crimson;
}
.contact_1 h5 {
    font-size: 16px;
    color:darkblue;
}


#myCarousel {
    background-color:darkturquoise;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
    border: solid 5px black;
   }

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color:black;
    font-size: 20px;
}
